*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
}

input,
button,
textarea {
    font: inherit;
}

img,
picture {
    max-width: 100%;
    display: block;
}
