{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 800,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-go-template", "prettier-plugin-css-order"],
    "cssDeclarationSorterOrder": "concentric-css",
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "go-template"
            }
        },
        {
            "files": ["*.scss"],
            "options": {
                "tabWidth": 2,
            }
        }
    ]
}
