// the flying-kind
.flying-kind {
  display: none;
  position: fixed;
  $v: .50rem;
  bottom: $v;
  right: $v;

  color: red;

  padding: 0.5rem 1rem;
  background-color: #bfbfbf;
  border-radius: 2.75rem;

  font-size: 1.25rem;
  font-weight: 900;
  z-index: 9999;
}
