@use '../abstract/variables' as v;
@use '../abstract/mixin' as *;

.hero {
  height: calc(100dvh - 70px);
  position: relative;
  overflow: hidden;

  .images-slider {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .content {
    position: absolute;
    inset: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    &__title {
      font-family: #{v.$font-brand};
      font-size: calc(1.5rem + 2dvw);
      line-height: 1.2;
      letter-spacing: 2pt;
      padding: 0;
      margin-bottom: 0.5rem;
      text-shadow: 0 0 9pt rgba(0, 0, 0, 1);

      @include mq(md) {
        font-size: 3.5rem;
        line-height: 0.89;
        max-width: 64rem;
      }

      @include mq(lg) {
        font-size: 4.5rem;
        line-height: 0.8;
      }
    }

    &__subtitle {
      font-weight: 500;
      font-size: 1rem;
      margin-bottom: 10pt;
      letter-spacing: 2pt;
      text-shadow: 0 0 9pt rgba(0, 0, 0, 1);

      @include mq(md) {
        font-size: 1.5rem;
        letter-spacing: 3pt;
      }
    }

    &__description {
      margin-top: 10pt;
      max-width: 90%;
      text-shadow: 0 0 9pt rgba(0, 0, 0, 1);
      font-size: 1rem;
      max-width: 600px;
      padding: 0 20px;

      @include mq(md) {
        font-size: 1.2rem;
      }
    }

    &__cta {
      position: relative;
      margin-top: 1.5rem;
      border-radius: 10px;
      padding: 0.75rem 2rem;
      background-color: var(--color-brand);
      color: white;
      font-weight: 900;
      text-decoration: none;
      box-shadow: var(--shadow-sm);
      display: inline-flex;
      align-items: center;

      &:hover {
        background-color: #{mix(black, v.$primary, 20%)};
      }

      .icon {
        margin-left: 9px;
      }

      @include mq(md) {
        margin-top: 2rem;
        transform: translateY(50px);
      }
    }
  }
}
