@use '../abstract' as *;

.konstruksi {
  padding: 4rem 0;

  &__labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  &__title {
    margin-bottom: 0.5rem;
    color: var(--text-main);
    font-size: 2rem;
    line-height: 1.2;
    font-family: $font-brand;
    text-align: center;

    @include mq(lg) {
      font-size: 2.5rem;
    }
  }

  &__description {
    display: inline-block;
    margin: 0 auto;
    text-align: center;

    @include mq(lg) {
      max-width: 925px;
    }
  }

  &__katalog-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;

    @include mq(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  .card {
    min-width: 100%;
    border-radius: 2rem;

    @include mq(lg) {
      width: calc(20rem + 0.1dvw);
    }

    &-image {
      @include mq(lg) {
        width: 100%;
        height: 480px;
      }

      &__title {
        position: absolute;
        top: auto;
        bottom: 1rem;
        left: 1rem;
        padding: 0;
        transform: translate(0%, 0%);
        font-size: 2.5rem;
        font-family: $font-body;
        text-align: left;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
