@use '../abstract' as *;

.konstruksi {
  padding: 4rem 0;

  &__labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  &__title {
    margin-bottom: 0.5rem;
    color: var(--text-main);
    font-size: 2rem;
    line-height: 1.2;
    font-family: $font-brand;
    text-align: center;

    @include mq(lg) {
      font-size: 2.5rem;
    }
  }

  &__description {
    display: inline-block;
    margin: 0 auto;
    text-align: center;

    @include mq(lg) {
      max-width: 625px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;

    @include mq(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__card {
    box-shadow: var(--shadow-lg);
    border-radius: 0.1rem;
    background-color: var(--bg-card);
    padding: 1.5rem 1.25rem;
    max-width: 350px;
  }

  &__card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__card-stars {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: $primary;
      stroke: none;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    gap: 2px;
    border-radius: 12px;
    background-color: $primary;
    padding: 0 0.5rem;
    color: $white;
  }

  &__body {
    margin-bottom: 1.25rem;

    &::before {
      content: '“';
    }
    &::after {
      content: '”';
    }
  }

  &__user-wrapper {
    display: grid;
    grid-template-columns: 2fr 6fr;
  }

  &__user-profile {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-right: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: cente
    }
  }

  &__user-name-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__user-title {
    font-size: 1.5rem;
  }

  &__user-subtitle {
    font-size: .75rem;
  }
}
