@use '../abstract' as *;

.list-products {
  background-color: var(--bg-body);
  padding: 2rem 0 4rem 0;

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__labels {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-brand;
    font-size: 2rem;
    color: var(--text-main);
    margin-bottom: 0.25rem;
    line-height: 1.2;
    text-align: center;

    @include mq(lg) {
      font-size: 2.5rem;
    }
  }

  &__description {
    text-align: center;
    display: inline-block;
    margin: 0 auto;

    @include mq(lg) {
      max-width: 625px;
    }
  }

  &__cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 1rem;

    @include mq(md) {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      min-width: 10rem;

      @include mq(md) {
        width: 13rem;
      }

      @include mq(lg) {
        width: 20rem;
      }

      &-image {
        width: 100%;
        height: 8rem;

        @include mq(md) {
          height: 14rem;
        }

        @include mq(lg) {
          height: 16rem;
        }
      }

      &-title {
        margin-bottom: 2px;
        font-size: 1.5rem;

        @include mq(md) {
          font-size: 1.75rem;
        }

        @include mq(lg) {
          font-size: 2rem;
        }
      }

      &-price {
        font-size: 0.75rem;

        @include mq(md) {
          font-size: .90rem;
        }

        @include mq(lg) {
          font-size: 1rem;
        }
      }

      &-footer {
        span {
          font-size: 0.75rem;

          @include mq(md) {
            font-size: .9rem;
          }

          @include mq(lg) {
            font-size: 1rem;
          }
        }
      }

      @include mq(md) {
        max-width: 19rem;

        &-anchor {
          width: auto;
        }
      }
    }

    @include mq(lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
