{{ define "main" }}
    <div class="container mt-5">
        <div class="section-header mb-0">
            <h1 class="section-header__title">{{ .Title }}</h1>
            {{ with .Params.subtitle }}
                <p class="section-header__subtitle">{{ . }}</p>
            {{ end }}
        </div>
    </div>

    <section class="about-section pt-0 mt-0">
        <div class="container">
            <div class="prose" style="text-align: justify;">
                {{ .Content }}
            </div>
        </div>
    </section>
{{ end }}
